/* Variables para colores y fuentes */
:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-bg-color: #242424;
  --secondary-bg-color: #1a1a1a;
  --primary-text-color: rgba(255, 255, 255, 0.87);
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --button-bg-color: #1a1a1a;
  --button-hover-bg-color: #747bff;
  --button-border-color: #8e088e;
  --input-bg-color: #333;
  --input-border-color: #555;
  --input-focus-border-color: #747bff;
  --popup-bg-color: rgba(0, 0, 0, 0.5);
  --popup-content-bg-color: #333;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --transition-speed: 0.25s;
  --border-radius: 8px;
  --button-font-size: 1em;
  --input-padding: 8px;
  --label-margin-right: 10px;
  --input-margin-bottom: 20px;
  --checkbox-margin-bottom: 20px;
  --label-width: 40%;
}

/* Reseteo de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía y colores base */
body {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 15px;
}

/* Títulos */
h1, h2 {
  line-height: 1.1;
  color: var(--primary-text-color);
  padding: 5px;
  margin: 5px;
}

/* Estilo para los botones */
button {
  border-radius: var(--border-radius);
  border: 2px solid;
  padding: 0.6em 1.2em;
  font-size: var(--button-font-size);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: border-color var(--transition-speed), background-color var(--transition-speed);
  margin: 5px;
  color: var(--primary-text-color);
}
button:hover {
  border-color: var(--button-border-color);
  background-color: var(--button-hover-bg-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Estilo del popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--popup-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: var(--popup-content-bg-color);
  padding: 20px;
  border-radius: var(--border-radius);
  text-align: center;
  color: var(--primary-text-color);
}

/* Estilos para los formularios */
label {
  width: var(--label-width);
  text-align: right;
  margin-right: var(--label-margin-right);
  font-weight: bold;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: var(--input-padding);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
  color: var(--primary-text-color);
  transition: border-color var(--transition-speed);
  margin-bottom: var(--input-margin-bottom); /* Más separación entre los inputs */
}

input:focus {
  border-color: var(--input-focus-border-color);
  outline: none;
}

/* Ajustes para los inputs numéricos */
input[type="number"] {
  appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Estilo para los checkbox */
label input[type="checkbox"] {
  margin-right: 10px;
  width: auto;
  box-shadow: none;
  accent-color: var(--button-bg-color); /* Establece color del checkbox en modo oscuro */
  margin-left: 10px; /* Añadir margen a la izquierda del checkbox */
  margin-bottom: var(--checkbox-margin-bottom); /* Más separación entre los checkbox */
}

/* Contenedor base de formulario */
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  gap: 20px; /* Separa todos los elementos dentro del formulario */
}

/* Eliminar puntos en la lista */
ul {
  list-style-type: none;
  padding-left: 0;
}


/* Estilos adicionales para el modo oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
}
